/*
Major Structural Styles
*/
html{


}

body {
font-family: "Oxygen", sans-serif;

background-image: url("../images/bg/sw4.png");
background-size: auto;
background-repeat: no-repeat;
background-attachment: fixed;

}

header h2{
    display: inline-block;
}

h1, h2, h3, h4{
margin: 0px;

}

#page-title {
    padding: 5px;
    background-color: #00285d;
    margin-top: 3px;
}

article h1 {
font-size: 1.6em;
}

article h2 {
font-size: 1.3em;
}

form {
    background-color: #00285d;
    color: white;
    padding: 10px 5px 10px 5px;
}

#filter-menu, #filter-clear {
    background: none;
}

#filter-menu{
    display:none;
}

#filter-clear {
    display: inline;
}

input[type=submit].button, select.button{
    cursor:pointer;
    font-family: "Oxygen", sans-serif;
    font-size: 1em;
    border:none;
}

input[type=submit].button:hover {    
    border:none;
    text-decoration: underline;
}

input[type=text], input[type=password]{
    font-size: 1.2em;
    margin: 3px 0px 3px 0px;
    border: none;
    padding: 2px;
}

#page-title h2 {
    font-size:2.0em;
    color: white;
}

#header-wrapper {

margin-left: auto;
margin-right: auto;
width: 80%;

}

#banner {

padding: 5px;
font-size: 2.7em;
text-align: center;
background-color: #008348;
color: white;

}

#banner h1 {
font-size: 2em;
margin-bottom: 0px;

}

#burger{
    margin: 0;
    width: 100%;
    text-align: left;
    background-color: #008348;
}

#navbar-main{
    display: none;
}

.navbar {

background-color: #00285d;
margin-top: 0px;
padding: 1%;

}

.navblock{
    display: inline-block;
    width: 49%;
    margin: 0;
    vertical-align: top;
}

.navbar h2 {
    color: white;
    /*display:none;*/    
}

.navlinks {

margin: 0px;
padding: 0px;

}

.navlinks li {

list-style-type: none;

}

.navlinks li a{

font-weight: bold;
color: white;


}

.navlinks li:first-child {

margin: 0px;

}

#menu-unit-buttons {
padding:0px;
}
/*
Page-specific styles
*/

.intro-content {
    vertical-align: top;
    display: inline-block;
    width: 46%;
    padding: 5px;
}

.intro-content h2 {
    font-size: 1.6em!important;
    padding-bottom: 3px;
}

.intro-content h3 {
    color:gray;
}

#content {
    padding: 5px;
    background-color: #e4e4e4;
    margin-left: 10%;
    margin-right: 10%;
    box-shadow: 0px 3px 0px 0px rgba(0,0,0,0.6);
}

#login, #password{
    width: 40%;
    font-size: 1.2em;
    border: none;
    padding: 2px;
}

#unit-list, #recent-list {
    background-color: #00285d;
    margin-top: 2px;
    margin-bottom: 2px;
    color: white;
}

.unit-row:nth-child(even){
   background-color:#364e6d;
}

#recent-units{
    width: 50%;
    display: inline-block;
}

ul#recent-list{
    padding: 5px;
}

#recent-list li {
    margin: 3px 0 3px 0;
    list-style-type: none;
    padding: 3px;
}

#unit-list tr{
    transition: background-color .2s;
}

#unit-list tr:hover{
    background-color: #008348;
}

#unit-list h3 {
    margin: 5px;
    font-size: 1.3em;
}

#unit-table {
    width: 100%;  
}

#unit-list th {
    color: white;
}

.unit-row{
    color: white;
    font-size: 1.1em;
}

.unit-row td {
    text-align: center;
    padding: 3px;
}

.unit-row td:last-of-type {
    border-width: 0px 2px 2px 0px;
}

.unit-row a {
    color: white;
    font-size: 1.1em;
    font-weight: bold;
}

#pagenav {
    margin-left: 5px;
}

#pagenav ul{
    list-style:none;
    padding: 0px;
}

#pagenav li {
    display: inline;
}

#pagenav a {
    color: white;
    font-weight: bold;
}

.button {
    transition: background-color .5s;	
    display: inline-block;
    margin: 1px 0px 1px 0px;
    background-color: #008348;
    //width: 90px;
    text-align: center;
    padding: 5px;
    color: white;
    font-weight: bold;

}

.button:hover {
    background-color: #1ba968;
}

.button a {
    font-weight: bold;
    color: white;
    text-align: center;
    text-decoration: none;
}

.button a:hover {	
    text-decoration: underline;
}

div.button {
    width: 100%;
    display:inline-block;
}

aside.button {
  float: right;
}

.clicked {
    background-color:#00285d; 
}

#mapping-options{
    margin-left: 20px;
    margin-right: 100px;
}

#mapping-list {
    text-align: center;
    padding-left: 0px;
}

#mapping-list li{
    list-style: none;
}

#filter-container {
    font-weight: bold;
    color: white;
    margin-bottom: 5px;
    margin-top: 5px;
}

#filter-menu {
    margin-top: 5px;
}

#filter-toggle{
    cursor:pointer;
}

form#filter-menu>h2 {
    display: none;
}

#filter-menu h3 {
    margin-top: 5px;
    color: black;
}

#filter-menu ul{
    list-style-type: none;
}

#filter-menu li {
    display: inline;
/*    margin-left: 2px;
    margin-right: 2px;*/
    text-align: center;
}

.filter-check {
    /*visibility: hidden;*/
    display: none;
}

#filter-menu .filter-check:checked+label {
    background-color: #00285d;
}

#backbutton{
    display:inline-block;
    margin-right: 80%;
}

#unitinfo {
    display: inline-block;
    width: 20%;
    height: 100%;
    margin: 0px;
    padding-bottom: 5px;
    padding-right: 5px;
}

#unitinfo dt {
    font-weight:bold;
}

#unitinfo dd {
    margin-bottom: 3px;
}

#expand-all, #collapse-all{
    margin: 0 3px 0 5px;
    cursor:pointer;
}

#slidenav {
    display: inline;
    margin-top: 0px;
    padding: 0px 0px 5px 0px;
}

#slidenav li {
    list-style-type: none;
    display: inline;
    margin: 10px 0px 10px 0px;

}

#slidenav a {
    font-weight: bold;
    color: white;
}

#assets {
    background-color: #00285d;
    color: white;
    width: 78%;
    display: inline-block;
    margin-top:10px;
    overflow-x: hidden;
    vertical-align: top;
    /*overflow-y: scroll;*/
}

.asset-container {
    padding: 5px;
    width: 100%;
    height: 100%;
}

.asset-detail-toggle{
    transition: all .1s;
}

.detail-toggled{
   transform: rotate(90deg);
}

.asset-container h3{
    display:inline-block;
    margin-left: 5px;
}

.asset-detail{
    display: none;
}

#sortable { 
    list-style-type: none; 
    margin: 0; padding: 0; 
    width: 60%; 
}

#sortable li { 
    margin: 0 3px 3px 3px; 
    padding: 0.4em; 
    padding-left: 1.5em; 
    font-size: 1.4em; 
    height: 18px; 
}
  
#sortable li span { 
    position: absolute; 
    margin-left: -1.3em; 
}

#keyword-search, #chart-div {
    float: left;
}

#results {
    //margin-left: 20px;
    float: left;
}